.sidebar {
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--preto-cinza);
    color: var(--branco);
    padding: 20px;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.18);
    position: relative;
    z-index: 10;
}

.sidebar h2 {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar .icone-side{
    width: 20px;
    margin-right: 10px;
}

.sidebar a {
    color: var(--branco);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: var(--azul);
}

/* Página atualmente selecionada */
.sidebar a.active {
    background-color: var(--azul);
}