.wrapper-home {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 1;
    padding: 40px;
    background-color: var(--branco);
    box-sizing: border-box;
    min-width: 0;
}


.conteudo-home {
    margin-top: 40px;
}