:root{
  --preto-cinza: #1D1E22;                 
  --preto-azul-50: rgba(10, 16, 28, 0.5);  
  --branco-cinza-60: rgba(255, 255, 255, 0.6); 
  --branco: #FFFFFF;                       
  --azul: #2255D8;
  --azul_claro: rgba(34, 85, 216, 0.10);
  --azul-hover: #4338ca; 
  --vermelho: #ff4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Segoe UI', Arial, sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
}

